[defaults]
inventory = inventory/sample/hosts.yml
roles_path = roles
collections_paths = collections
callbacks_enabled = ansible.builtin.default
result_format = yaml
retry_files_enabled = false
timeout = 60

[privilege_escalation]
become = false
